<!DOCTYPE html>
<html lang="en">
<head>
    <title>content</title>
    <link rel="stylesheet" href="../static/style.css"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/99dca56108.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
    <section class="content">

        <nav>

            <a id="logo" href="index.html"><img src="../static/Images/logo.png" alt=""></a>

            

            <div class="nav-links" id="navLinks">
                
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="login.html">REGISTER</a></li>
                    <li><a href="login.html">LOGIN</a></li>
            
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1 class=>A Healthy Outside<span></span></h1>
            <h1>Starts From The Inside.<span></span></h1>
            
            <a href="login.html" class="hero-btn">Get started with us...</a>
            
        </div>
        

    </section>
    
    <section>
        <div class="content-box">
            <center><h1>A Overview Of NutriPure</h1></center> 

            <p>A diet is all that we consume in a day. And a balanced diet is a diet that contains an adequate
                quality of the nutrients that we require in a day. A balanced diet includes six main nutrients, i.e.
                Fats, Protein, Carbohydrates, Fibre, Vitamins, and Minerals. All these nutrients are present in
                the foods that we eat. Different food items have different proportions of nutrients present in
                them. The requirements of the nutrients depend on the age, gender, and health of a person.
                Normally, 85% of daily energy use is from fat and carbohydrates and 15% from protein. The
                required amounts of the essential nutrients differ by age and the state of the body, for
                example; physical activity, diseases present.
                <br><br>
                Food is essential for human life and has been the concern of many healthcare conventions.
                Nowadays new dietary assessment and nutrition analysis tools enable more opportunities to
                help people understand their daily eating habits, exploring nutrition patterns and maintain a
                healthy diet. Nutritional analysis is the process of determining the nutritional content of food. It
                is a vital part of analytical chemistry that provides information about the chemical composition,
                processing, quality control and contamination of food.
                <br><br>
                The main aim of NutriPure is to build a model which is used for classifying the fruit
                depends on the different characteristics like colour, shape, texture etc. Here the user can
                upload the images of different fruits and then the image will be sent the trained model. NutriPure
                analyses the image and detect the nutrition based on the fruits like (Sugar, Fibre,
                Protein, Calories, etc.).</p>
            
        </div>

    </section>

    <section class="footer">
        <h1>About Us</h1>
        <p>We care about your health <br>just as much as you do</p>
        <div class="icons">
            <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
            <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
        </div>
        
    </section>
    
</body>
</html>
