<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nutri-Pure</title>
    <link rel="stylesheet" href="../static/style.css">
    

</head>

<body >
    <section class="header">
        <nav>

            <a id="logo" href="index.html"><img src="../static/Images/logo.png" alt=""></a>

            

            <div class="nav-links" id="navLinks">
                
                <ul>
                    <li><a href="content.html" name="/content" >CONTENT</a></li>
                    <li><a href="login.html">REGISTER</a></li>
                    <li><a href="login.html">LOGIN</a></li>
            
                </ul>
            </div>
        </nav>
        
        <div class="text-box">
            <h1 class=>AI-powered Nutrition Analyzer<span></span></h1>
            <h1>for Fitness Enthusiasts.<span></span></h1>
            
            <a href="login.html" class="hero-btn">Get started with us...</a>
            
        </div>
    </section>
        

    
</body>
</html>